reflex==0.7.7
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
sqlmodel
requests
python-jose[cryptography]
sqlalchemy
python-dotenv
passlib
cryptography
python-multipart
pydantic
email-validator
yfinance>=0.2.36
plotly
pandas